@media (min-width: 992px) {
  html:not([dir=rtl]) .sidebar-lg-show .sidebar,
  html:not([dir=rtl]) .sidebar-show .sidebar {
    margin-left: 0 !important;
  }
}
html:not([dir=rtl]) .sidebar {
  margin-left: -200px !important;
}
/* width */
.messages::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.messages::-webkit-scrollbar-track {
  background: rgba(226, 226, 226, 0.2);
}
/* Handle */
.messages::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
/* Handle on hover */
.messages::-webkit-scrollbar-thumb:hover {
  background: #32327B;
}
/* width */
.messenger-sidebar::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.messamessenger-sidebarges::-webkit-scrollbar-track {
  background: rgba(226, 226, 226, 0.2);
}
/* Handle */
.messenger-sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
/* Handle on hover */
.messenger-sidebar::-webkit-scrollbar-thumb:hover {
  background: #32327B;
}
.messenger-section-heading {
  font-size: 30px;
  padding: 20px 15px;
  margin: 0;
  font-weight: bold;
}
.threads-wrapper {
  height: calc(100% - 76px);
  overflow-y: auto;
}
.messenger-threads {
  width: 300px;
  padding: 0 7px;
  float: left;
  height: calc(100vh - 55px);
  box-sizing: border-box;
  border-right: solid 1px #ccc;
}
.messenger-threads a.thread-link {
  display: block;
  padding: 8px;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  color: #969696;
  overflow: hidden;
  border-radius: 5px;
}
.messenger-threads a.thread-link img {
  float: left;
}
.messenger-threads a.thread-link strong {
  color: #000;
  font-weight: 600;
}
.messenger-threads a.thread-link .preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.messenger-threads a.thread-link .thread-data {
  padding: 4px 0 0 56px;
}
.messenger-threads a.thread-link.active {
  background: #eee;
}
.messenger-body {
  width: calc(100% - 550px);
  float: left;
  overflow: hidden;
}
.messenger-body .messages {
  padding: 0 15px 55px;
  height: calc(100vh - 76px - 55px);
  overflow-y: auto;
}
.messenger-body .start-conv {
  font-size: 12px;
  color: #c1c1c1;
  text-align: center;
}
.messenger-body .message-bubble {
  margin-bottom: 15px;
}
.messenger-body .message-bubble p {
  background: #eee;
  padding: 12px 20px;
  border-radius: 15px 15px 15px 0;
  font-size: 14px;
  display: inline-block;
  margin: 0;
}
.messenger-body .message-bubble p a {
  color: #136cda;
}
.messenger-body .message-bubble .delete {
  background: none;
  color: #136cda;
  font-size: 12px;
  padding: 0;
  margin-left: 15px;
  border: 0;
  visibility: hidden;
}
.messenger-body .message-bubble .delete:hover {
  color: red;
}
.messenger-body .message-bubble:hover .delete {
  visibility: visible;
}
.messenger-body .message-bubble.reply {
  text-align: right;
}
.messenger-body .message-bubble.reply p {
  background: #32327B;
  color: #fff;
  border-radius: 15px 15px 0 15px;
}
.messenger-body .message-bubble.reply .delete {
  margin-right: 15px;
}
.messenger-body .heading {
  margin: 0 0 10px;
  box-shadow: 0 0 4px #ccc;
  padding: 15px;
}
#messages-input-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 999;
  left: 500px;
  width: calc(100% - 550px - 200px);
  background: #eee;
  padding: 15px 15px 10px;
}
#messages-input-wrapper textarea {
  background: none;
  border: 0;
  width: calc(100% - 100px);
  padding: 0;
  margin: 0;
  outline: none !important;
}
#messages-input-wrapper button {
  background: #8BC34A;
  color: white;
  border: none;
  padding: 7px 20px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  right: 20px;
  bottom: 11px;
  outline: none !important;
  border-radius: 4px;
}
#messages-input-wrapper button:hover {
  background: #5fa70d;
}
.messenger-sidebar {
  width: 250px;
  float: right;
  height: calc(100vh - 55px);
  overflow-y: auto;
  border-left: solid 1px #ccc;
}
.messenger-sidebar .profile {
  color: #6f6f6f;
  padding: 20px 15px;
  border-bottom: solid 1px #ccc;
  line-height: 1.3;
  font-size: 14px;
}
.messenger-sidebar .profile strong {
  font-size: 25px;
  color: #000;
  margin-top: 10px;
  display: inline-block;
}
.messenger-sidebar .all-users-wrapper {
  padding: 15px;
}
.messenger-sidebar .all-users-wrapper .heading {
  text-transform: uppercase;
  font-size: 16px;
  color: #afafaf;
}
.messenger-sidebar .all-users-wrapper ul.all-users {
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 2;
}
.messenger-sidebar .all-users-wrapper ul.all-users a {
  color: #000;
  text-decoration: none;
}
.messenger-sidebar .all-users-wrapper ul.all-users a:hover {
  color: #136cda;
}
