.notification-btn {
  outline: none !important;
}
.notification-dropdown-menu {
  line-height: 1;
  padding: 0;
  margin-top: 6px;
  box-shadow: 0 1px 3px 0px #00000052;
  z-index: 99999;
}
.notification-wrapper {
  width: 300px;
  font-size: 14px;
}
.notification-wrapper button {
  padding: 0;
  border: 0;
  background: none;
  color: #136cda;
  outline: none !important;
}
.notification-header {
  padding: 8px 10px;
}
.notification-header .left {
  color: #000;
  font-weight: bold;
}
.notification-header .mark-all-as-read {
  float: right;
}
/* width */
.notification-body::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.notification-body::-webkit-scrollbar-track {
  background: rgba(226, 226, 226, 0.2);
}
/* Handle */
.notification-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
/* Handle on hover */
.notification-body::-webkit-scrollbar-thumb:hover {
  background: #32327B;
}
.notification-body {
  border: solid 1px #ccc;
  border-left: 0;
  border-right: 0;
  max-height: 400px;
  overflow-y: auto;
}
.notification-body p.no-notification {
  text-align: center;
  padding: 7px 0;
  margin: 0;
}
.notification-body a {
  color: #212121;
  text-decoration: none;
}
.notification-body strong {
  font-weight: 600;
}
.notification-body .preview {
  font-size: 13px;
}
.notification-body .time {
  color: #808080;
  font-size: 12px;
  display: inline-block;
  margin: 5px 10px 0 0;
}
.notification-body .mark-as-read {
  font-size: 12px;
  display: none;
  color: #808080;
}
.notification-body .mark-as-read:hover {
  color: #136cda;
}
.notification-body a:hover .mark-as-read {
  display: inline;
}
.notification-body a:hover dl.notification {
  background: #ececec;
}
.notification-body dl.notification {
  padding: 10px;
  border-bottom: solid 1px #e4e4e4;
  margin: 0;
  line-height: 1.3;
  background: #f7f7f7;
}
.notification-body dl.notification dt {
  float: left;
}
.notification-body dl.notification dt i {
  font-size: 26px;
  border-radius: 50%;
  padding: 5px;
}
.notification-body dl.notification dd {
  margin: 0;
  padding: 0 0 0 45px;
}
.notification-body dl.read {
  background: #fff !important;
}
.notification-body a:last-child dl {
  border: 0;
}
.notification-footer {
  text-align: center;
  padding: 5px 0;
}
.notification-footer button.view-all {
  font-weight: bold;
  font-size: 12px;
}
